<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11734943862-ff1rbhjkqf5t3bto4diam1sl9tqai0u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11734943862-ff1rbhjkqf5t3bto4diam1sl9tqai0u1</string>
	<key>API_KEY</key>
	<string>AIzaSyBwy9eg7OQSnE3PQ99Raq1UzuEiOLhviuo</string>
	<key>GCM_SENDER_ID</key>
	<string>11734943862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>waggly-test-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>waggly-test-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11734943862:ios:bfe72ece18a93471e83757</string>
</dict>
</plist>